*.pyc
pip-selfcheck.json
/bin
/include
/lib
/share
db.sqlite3
/.idea
predictive_football_analysis/.idea
production.env
.env
.ipynb_checkpoints/
notebooks/
Vagrantfile
.vagrant/
predictive_football_analysis/fpy-uploaded-files/training_data
